<!DOCTYPE html>
<html>
<head>
	<!-- <meta http-equiv="refresh" content="3"> -->
	<title>crypto-chat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/cryptoApp.css">
	<script src="/socket.io/socket.io.js"></script>

</head>
<body>

	<header>
		Cryptographic Chat App
	</header>

	<section class="login">
			<label for="username">Login as:</label>
			<input type="text" name="username">
			<button type="submit">GO!</button>
	</section>

	<aside>

		<div class="info">

			<h1 class="header-text">Crypto Info</h1>
			
			<div class="one-info">
				<h2>Crypto method:</h2>
				<h1>symmetric key</h1>
			</div>

			<div class="one-info">
				<h2>Algorithm used</h2>
				<h1>AES</h1>
			</div>	

			<div class="one-info">
				<h2>Key size</h2>
				<h1>192 bit</h1>
			</div>

		</div>

		<div class="key-info">
			<h2>Your Secret Key is:</h2>
			<h1>"somekey"</h1>
			<button>Edit</button>
		</div>

		<div class="online-people">

		</div>

	</aside>

	<main>

		<div class="chat-box">

			<div class="read-area decrypted">
			
				<p class="msg in">send your first message to start read others messages and send them messages</p>
			
			</div>

		</div>

		<div class="chat-box">
			
			<div class="read-area encrypted">
				
				<p class="msg in">2e1ea33b9d89f5c436d7355e4936caf56b934e869901ce5ca16f88662c855f5ef01c01bf28fe6d003fea8f44f7c827bbc8c069ac002abecccd80df6799e8fb0767e47b66f350fe68ec6da1a2603a972d</p>
			</div>
		
		</div>	


		<div class="write-area">

			<input type="text" name="text-input">
			<button type="submit">send</button>
			
		</div>



		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<script type="text/javascript" src="/javascripts/cryptoApp.js"></script>
		<script type="text/javascript" src="/javascripts/_drag.js"></script>
		<!-- <script type="text/javascript" src="/javascripts/test.js"></script> -->
		
		<!-- //ondrop="drop_handler(event);" -->
		<div id="drop_zone" ondrop="drop_handler(event);" ondragover="dragover_handler(event);" ondragend="dragend_handler(event);">
		  <strong>Drag one or more files to this Drop Zone ...</strong>
		</div>
	</main>

</body>
</html>