<!DOCTYPE html>
<html>
<head>
	<title>Crypt-App Server</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/cryptoApp.css">
	<script src="/socket.io/socket.io.js"></script>
	<style type="text/css">
		h1{
			font-size: 30px;
			text-align: center;
			margin-bottom: 10px;
			line-height: 1.3em;
			background-color: springgreen;
			border-radius: 5px;
		}
		.chat-box{
			width: 100%;
			margin: auto;
		}

	</style>
</head>
<body>
	<h1>Server page for Crypto-App</h1>
	<h1>Use this page to show every message going through the server</h1>


	<div class="chat-box">
		
		<div class="read-area encrypted">
							
			<p class="msg in">2e1ea33b9d89f5c436d7355e4936caf56b934e869901ce5ca16f88662c855f5ef01c01bf28fe6d003fea8f44f7c827bbc8c069ac002abecccd80df6799e8fb0767e47b66f350fe68ec6da1a2603a972d</p>

		</div>
	
	</div>	

	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="/javascripts/server.js"></script>

</body>
</html>