<!DOCTYPE html>
<html>
<head>
	<title>Crypt-App Server</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/cryptoApp.css">
	<style type="text/css">
		h1{
			font-size: 30px;
			text-align: center;

		}
		.chat-box{
			width: 100%;
			margin: auto;
		}

	</style>
</head>
<body>
	<h1>Server page for Crypto-App</h1>
	<h1>Use this page to show every message going throgh the server</h1>


	<div class="chat-box">
		
		<div class="read-area encrypted">
			
			<p class="msg in">aljd8qu8dqjjq</p>
			<p class="msg out">lij130r1rjf982j</p>
			<p class="msg in">ajd92urj3923jdjd</p>
		</div>
	
	</div>	

</body>
</html>