body{
	min-width: 430px;
}

header{
	display: block;
	width: 100%;
	background-color: crimson;
	padding: 10px;
	margin-bottom: 5px;
	text-align: center;
	color: ivory;
	font-size: 30px;
}

a{
	color: white;
	text-decoration: none;
}

section{
	display: block;
	background-color: springgreen;
	margin-bottom: 5px;
	text-align: center;
	font-size: 30px;
	padding: 3px;
}

section input{
	vertical-align: middle;
	padding: 5px;
	font-size: 17px;
	width: 30%;
	font-size: 17px;
	letter-spacing: 1.5px;
}
section label{
	color: dimgray;
}

.one-info{
	margin: 15px 0;
	text-align: center;
}
.one-info h1{
	border: 2px solid black;
	display: inline-block;
	padding: 3px;
	margin: 1px 0;
	border-radius: 2px;
	border-color: crimson;
	background-color: goldenrod;
}

section button{
	padding: 4px;
	font-size: 17px;
	vertical-align: middle;
	cursor: pointer;
	background-color: crimson;
	color: honeydew;
	font-weight: bold;
}

aside{
	width: 28%;
	display: inline-block;
	padding: 0.5%;
	vertical-align: top;
	margin-bottom: 10px;
}

main{
	display: inline-block;
	width: 70%;
	padding: 0.5%;
	vertical-align: top;
	background-color: dimgray;
	height: 500px;
}

.header-text{
	color: crimson;
	line-height: 1.5em;
}

.online-people{
	font-size: 20px;
	background-color: lightgray;
	text-align: center;
	padding: 5px;
}

.info{
	padding: 5px;
	background-color: lightgray;
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
}
.selected{
	background-color: crimson;
}
.person{
	margin: 5px;
	border: 1px solid dimgray;
	padding: 4px;
	border-radius: 3px;
}
.chat-box{
	background-color: cornsilk;
	padding: 1%;
	margin-bottom: 10px;
	display: inline-block;
	width: 49.5%;
	vertical-align: top;
	overflow: auto;
	height: 450px;
	color: honeydew;
}

.write-area{
	background-color: dimgray;
	display: inline-block;
	width: 49.5%;
}

.write-area input{
	width: 77%;
	padding: 3px;
	vertical-align: middle;
	margin-left: 1px;
	font-size: 17px;
	letter-spacing: 1.5px;

}

.write-area button{
	width: 20%;
	padding: 5px;
	vertical-align: middle;
	cursor: pointer;
	background-color: crimson;
	color: white;
	font-weight: 900;
}

.in,
.out{
	display: inline;
	clear: both;
	margin: 1% 0;
	padding: 1%;
}

.in{
	float: left;
	background-color: crimson;
}

.out{
	float: right;
	background-color: goldenrod;
}

@media only screen and (max-width: 585px){
	
	aside{
		display: block;
		width: 100%;
	}
	
	main{
		display: block;
		width: 100%;
	}
}

button,
input,
.chat-box,
main,
aside,
.info,
.online-people,
input,
.write-area,
.in,
.out,
.header,
section,
.key-info,
.key-info input
{
	border: none;
	border-radius: 3px;
}

input:hover{
	background-color: crimson;
	color: white;
}

.person:hover{
	background-color: lightgreen;
	cursor: pointer;
}

.selected:hover{
	background-color: crimson;
}

.key-info{
	display: block;
	background-color: springgreen;
	text-align: center;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 10px;
	line-height: 1.5em;
}

.key-info button{
	display: block;
	margin: auto;
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	background-color: crimson;
	color: white;
	cursor: pointer;
}

.key-info input{
	padding: 5px;
	font-size: 17px;
	font-weight: bold;
	margin: 3px 0;
	width: 90%;
}